<% content_for :title, "Landing page" %>
<% content_for :cssfile, "landing" %>

<div class="scrollblock block-title">
    <h1>Welcome - Ruby on rails</h1>
    <p>just a simple landing page demo created by using Ruby on Rails</p>
</div>

